@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    /* background-color: black;
    color: white; */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* ::-webkit-scrollbar {
    width: 0;
} */
